
body {
    box-sizing: border-box;
}
nav {
    background: grey;
    color: black;
    font-family: arial, sans-serif;
    display: flex;
}

a {
    display: inline-block;
}


nav a {
    color: black;
    text-decoration: none;
    padding: .2em;
    font-family: 'work sans';
}
nav a:hover {
    background: blue;
}

nav a:nth-of-type(5){
    margin: auto;

}




