.fancy-header {
    color: black; /* single line comment */
    text-decoration: underline ;
    text-decoration-style: wavy;
    text-decoration-color: rosybrown;
}
/*Center the main heading
 */
h1.fancy-header{
    text-align: center;
    animation: animate 5s linear infinite;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 0;
    }
}

header, p{
    color:black;
}


/*Add a style to change the color of the headers on your page and make them underlined.
 */

h2, h3{
    text-decoration: underline;
    text-decoration-color: purple;
}


/*Add a style to change the background color of the page. /*Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image
 */


body{
    background-color:floralwhite;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    text-align:center;
    background-image: url(../images/clouds-background.jpg);
    font-family: 'Press Start 2P', cursive;
}




/*Add a style to change the list-style to something other than the default bullet.
 */


ol{
    list-style: none;
}
li{
    list-style: none;
}

li:before{
    content: "\2665";
    color: black;
}

/*Add a style to change the font for the entire page. Use google fonts if you would like.
 */


/*Add a style to change the table, table cells td and rows tr padding and font sizes.
 */


table, th, td{
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    table-layout: auto;
    border: 1px solid black;
    width: 40%;
}


/*Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
 */
a:link{
    color: pink;
}
a:visited{
    color:rosybrown;
}

a:hover{
    color: hotpink;
}

a:active{
    color: hotpink;
}

