.fancy-header {
    color: white; /* single line comment */
    text-decoration: underline ;
    text-decoration-style: wavy;
    text-decoration-color: rosybrown;
}
/*Center the main heading
 */
h1.fancy-header{
    text-align: center;
    animation: animate 2.5s linear infinite;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .7;
    }
    100% {
        opacity: 0;
    }
}

header, p{
    color:white;
}


/*Add a style to change the color of the headers on your page and make them underlined.
 */

h2, h3{
    text-decoration: underline;
    text-decoration-color: saddlebrown;
}


/*Add a style to change the background color of the page.
 */

body{
    background-color:floralwhite;
}

/*Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image
 */

body{
    background-image: url(../images/clouds-background.jpg);

}



/*Add a style to change the list-style to something other than the default bullet.
 */

ul{
    list-style: none;
}
ul li:before {
   content: "\2665";
    color: pink;
}

/*Add a style to change the font for the entire page. Use google fonts if you would like.
 */
body{
    font-family:"Abril Fatface", cursive;
}

/*Add a style to change the table, table cells td and rows tr padding and font sizes.
 */
table{
    padding-top: -10px;
    padding-left: 1px;
    font-size: large;
}

/*Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
 */
a:link{
    color: saddlebrown;
}
a:visited{
    color:dimgrey;
}

a:hover{
    color: rosybrown;
}

a:active{
    color: darkolivegreen;
}


image{
    width: 50px
}